<%= component 'common/form_errors', errors: @retirement.errors %>

<%= form_for @retirement, html: { class: 'retirement-form', id: nil } do |f|%>

  <p>
    My name is<wbr>
    <%= f.label :name do |label| %>
      <span><%= label.translation %></span>
      <%= f.text_field :name, required: 'required', maxlength: 255, autofocus: true %>
    <% end %>
    <wbr>
    and I want to retire on<wbr>
    <span class="nowrap">
      <%= f.label :retirement_date do |label|  %>
        <span><%= label.translation %></span>
        <%= f.date_field :retirement_date, required: 'required' %>
      <% end %>.
    </span>
  </p>

  <%= f.button %>
<% end %>
