
<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Article">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title><%= content_for?(:title) ? "#{strip_tags(yield(:title))} - #{t('site_name')}" : "#{t('site_name')}" %></title>

    <meta name="theme-color" content="#6babf5">
    <meta name="description" content="<%= t('site_description') %>">

    <meta property="og:url" content="<%= page_url %>">
    <meta property="og:type" content="website">
    <meta property="og:title" content="<%= content_for?(:title) ? "#{strip_tags(yield(:title))} - #{t('site_name')}" : "#{t('site_name')}" %>">
    <meta property="og:image" content="<%= asset_pack_url('images/hlbir-og.png') %>">
    <meta property="og:description" content="<%= t('site_description') %>">
    <meta property="og:site_name" content="<%= t('site_name') %>">
    <meta property="og:locale" content="en_US">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="@mibester">
    <meta name="twitter:url" content="<%= page_url %>">
    <meta name="twitter:title" content="<%= content_for?(:title) ? "#{strip_tags(yield(:title))} - #{t('site_name')}" : "#{t('site_name')} - #{t('site_slogan')}" %>">
    <meta name="twitter:description" content="<%= t('site_description') %>">
    <meta name="twitter:image" content="<%= asset_pack_url('images/hlbir-twitter.png') %>">

    <meta itemprop="name" content="<%= content_for?(:title) ? "#{strip_tags(yield(:title))} - #{t('site_name')}" : "#{t('site_name')} - #{t('site_slogan')}" %>">
    <meta itemprop="description" content="<%= t('site_description') %>">
    <meta itemprop="image" content="<%= asset_pack_url('images/hlbir-og.png') %>">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.typekit.net/nzv5pog.css">
    <%= stylesheet_pack_tag 'application' %>

    <link type="text/plain" rel="author" href="/humans.txt" />

    <%= favicon_link_tag asset_pack_path('images/favicon.ico') %>
    <link rel="mask-icon" href="<%= asset_pack_path('images/favicon.svg') %>" color="#464b53">
    <link rel="icon" sizes="192x192" href="<%= asset_pack_path('images/apple-touch-icon.png') %>">
    <link rel="apple-touch-icon" href="<%= asset_pack_path('images/apple-touch-icon.png') %>">

  </head>

  <body>
    <div class="page-content">
      <%= component 'common/header' %>
      <%= component 'common/alerts' %>
      <%= component 'page' do %>
        <%= yield %>
      <% end %>
    </div>

    <%= component 'common/footer' %>
  </body>

  <%= javascript_pack_tag 'application' %>

  <% if Rails.env.production? %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-4533540-5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-4533540-5');
    </script>
  <% end %>

</html>
