
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title><%= content_for?(:title) ? "#{strip_tags(yield(:title))} - #{site_name}" : "#{site_name} - Count Down to Calling it Quits" %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.typekit.net/nzv5pog.css">
    <%= stylesheet_pack_tag 'application' %>

    <%= favicon_link_tag asset_pack_path('images/favicon.ico') %>
    <link rel="mask-icon" href="<%= asset_pack_path('images/favicon.svg') %>" color="#464b53">

  </head>

  <body>
    <div class="page-content">
      <%= component 'common/header' %>
      <%= component 'page' do %>
        <%= yield %>
      <% end %>
    </div>

    <%= component 'common/footer' %>
  </body>

  <%= javascript_pack_tag 'application' %>

  <% if Rails.env.production? %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-4533540-5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-4533540-5');
    </script>
  <% end %>

</html>
